@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;

  font: normal 100%/1.5 sans-serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.clock-face {
    height: 300px;
    width: 300px;
    background-image: url("../images/clock-face.svg");
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.hand {
    width: 14px;
    position: absolute;
    left: calc(50% - 7px);
    bottom: calc(50%);
    transform-origin: bottom center;
    transition: all 6s linear;    
}

.center {
    width: 28px;
    position: absolute;
    bottom: calc(50% - 14px);
    left: calc(50% - 14px);
}

.clock-face:target .hand-hour {
   transform: rotate(360deg);
}

.clock-face:target .hand-minute {
    transform: rotate(4320deg);
}

.fowards { 
    border-radius: 50%;
    background-color: green;
    display: inline-block;
    text-align: center;
    line-height: 7em;
    width: 7em;
    text-decoration:none;
    color: white;
    transition: all 1000ms ease-in-out;
    margin-right:1rem;
    margin-top: 1rem;
}

.fowards:hover { 
    background-color: white;
    color: gray;
    opacity: 1;
}

.backwards:hover { 
    background-color: white;
    color: gray;
}

.backwards { 
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    text-align: center;
    line-height: 7em;
    width: 7em;
    text-decoration:none;
    color: white;
    transition: all 1000ms ease-in-out;
    margin-left: 1rem;
    margin-top: 1rem;
} 

.middel { 
    text-align: center;
}

